BasedOnStyle: Google
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true