# VSCode
.vscode

# Build
**/build/*
*.o
*.a
apps/tric/tric
apps/miniVite/miniVite
apps/miniFE/kokkos/src/miniFE.x
apps/tric/generate_graph_mpi

# Data
data/*
apps/tric/*.bin
sample_data/*
apps/miniFE/kokkos/src/*.yaml
**/*.mpiP
