# VSCode
.vscode

# Build
**/build/*
**/install/*
apps/hypre/src/hypre
*.o
*.a
apps/tric/tric
apps/miniVite/miniVite
apps/miniFE/kokkos/src/miniFE.x
apps/tric/generate_graph_mpi
*.pyc
*.pt

# Data
data/*
apps/tric/*.bin
run_data/*
apps/miniFE/kokkos/src/*.yaml
**/*.mpiP
rate_limit_data/*
*.pt
**/experiment_data/*
**/*.gz